
p {
  color: red;
  text-align: center;
} 
body {
  background-color: lightblue;
  background-image: url("tree.png");
  background-repeat: no-repeat;
  background-position: right top;

}

/* 行内<style=""> */
